In [1]:
#importar as bibliotecas necessárias para fazer a exploração, pré-processamento e validação dos dados.
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import datetime

In [2]:
dados = pd.read_csv('notificacoes-covid19-mg.csv',encoding = "ISO-8859-1", delimiter=";", decimal=",", nrows=500, header=0,index_col=0)

In [3]:
dados

,ID,CONTADOR,DATA_NOTIFICACAO,CLASSIFICACAO_CASO,SEXO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,MUNICIPIO_RESIDENCIA,COMORBIDADE,EVOLUCAO,INTERNACAO,UTI,DATA_ATUALIZACAO
1,1,296297,04/03/2020,Caso Confirmado,Feminino,38,30 a 39 anos,313130.0,IPATINGA,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
2,2,296298,07/03/2020,Caso Confirmado,Feminino,47,40 a 49 anos,312230.0,DIVINÓPOLIS,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
3,3,296299,14/03/2020,Caso Confirmado,Masculino,65,60 a 69 anos,313670.0,JUIZ DE FORA,SIM,RECUPERADO,SIM,SIM,25/06/2020
4,4,296300,14/03/2020,Caso Confirmado,Feminino,37,30 a 39 anos,314810.0,PATROCÍNIO,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
5,5,296301,16/03/2020,Caso Confirmado,Masculino,45,40 a 49 anos,310620.0,BELO HORIZONTE,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,503,296792,05/04/2020,Caso Confirmado,Feminino,64,60 a 69 anos,310620.0,BELO HORIZONTE,SIM,RECUPERADO,SIM,NÃO,25/06/2020
497,504,296793,13/04/2020,Caso Confirmado,Masculino,78,70 a 79 anos,315150.0,PIUMHI,SIM,OBITO,SIM,SIM,25/06/2020
498,505,296794,05/04/2020,Caso Confirmado,Feminino,67,60 a 69 anos,313670.0,JUIZ DE FORA,SIM,RECUPERADO,SIM,NÃO,25/06/2020
499,506,296795,05/04/2020,Caso Confirmado,Masculino,36,30 a 39 anos,314800.0,PATOS DE MINAS,NÃO,RECUPERADO,SIM,NÃO,25/06/2020
500,507,296796,05/04/2020,Caso Confirmado,Masculino,82,80 a 89 anos,316557.0,SENADOR AMARAL,SIM,RECUPERADO,SIM,NÃO,25/06/2020

 # verificar os tipos de atributos

In [5]:
dados.describe(include='all')

,ID,CONTADOR,DATA_NOTIFICACAO,CLASSIFICACAO_CASO,SEXO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,MUNICIPIO_RESIDENCIA,COMORBIDADE,EVOLUCAO,INTERNACAO,UTI,DATA_ATUALIZACAO
count,500.000000,500.000000,500,500,500,500.000000,500,493.00000,500,500,500,500,500,500
unique,NaN,NaN,33,1,2,NaN,10,NaN,58,3,3,3,3,1
top,NaN,NaN,04/04/2020,Caso Confirmado,Masculino,NaN,30 a 39 anos,NaN,BELO HORIZONTE,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
freq,NaN,NaN,65,500,291,NaN,139,NaN,253,338,479,299,365,500
mean,252.130000,296546.500000,NaN,NaN,NaN,45.936000,NaN,312459.64503,NaN,NaN,NaN,NaN,NaN,NaN
std,146.508945,144.481833,NaN,NaN,NaN,16.634582,NaN,2327.08741,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,296297.000000,NaN,NaN,NaN,0.000000,NaN,310160.00000,NaN,NaN,NaN,NaN,NaN,NaN
25%,125.750000,296421.750000,NaN,NaN,NaN,34.000000,NaN,310620.00000,NaN,NaN,NaN,NaN,NaN,NaN
50%,250.500000,296546.500000,NaN,NaN,NaN,42.000000,NaN,310620.00000,NaN,NaN,NaN,NaN,NaN,NaN
75%,380.250000,296671.250000,NaN,NaN,NaN,58.000000,NaN,314480.00000,NaN,NaN,NaN,NaN,NaN,NaN
max,507.000000,296796.000000,NaN,NaN,NaN,94.000000,NaN,317100.00000,NaN,NaN,NaN,NaN,NaN,NaN

## Descrição de dados númericos

In [6]:
# Descrição de dados númericos 
dados.describe()

               ID       CONTADOR       IDADE  MUNICIPIO_RESIDENCIA_COD
count  500.000000     500.000000  500.000000                 493.00000
mean   252.130000  296546.500000   45.936000              312459.64503
std    146.508945     144.481833   16.634582                2327.08741
min      1.000000  296297.000000    0.000000              310160.00000
25%    125.750000  296421.750000   34.000000              310620.00000
50%    250.500000  296546.500000   42.000000              310620.00000
75%    380.250000  296671.250000   58.000000              314480.00000
max    507.000000  296796.000000   94.000000              317100.00000

# Descrição de dados categóricos, datetime,object(não-númericos)

In [7]:
dados.describe(include=["category","datetime","object"])

,DATA_NOTIFICACAO,CLASSIFICACAO_CASO,SEXO,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA,COMORBIDADE,EVOLUCAO,INTERNACAO,UTI,DATA_ATUALIZACAO
count,500,500,500,500,500,500,500,500,500,500
unique,33,1,2,10,58,3,3,3,3,1
top,04/04/2020,Caso Confirmado,Masculino,30 a 39 anos,BELO HORIZONTE,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
freq,65,500,291,139,253,338,479,299,365,500

<p> O atributo ID constinue a chave da tabela</p>

<p> Excluir a data de notificação de notificação e monicipio de residência por possuir vários valores distintos (data de notificação possui 33 valor destintos e o municipio de residencia possui 58 valores destintos ) </p>

In [9]:
dadoSem = dados.drop(columns=["DATA_NOTIFICACAO","MUNICIPIO_RESIDENCIA"])
dadoSem.describe(include='all')

,ID,CONTADOR,CLASSIFICACAO_CASO,SEXO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,COMORBIDADE,EVOLUCAO,INTERNACAO,UTI,DATA_ATUALIZACAO
count,500.000000,500.000000,500,500,500.000000,500,493.00000,500,500,500,500,500
unique,NaN,NaN,1,2,NaN,10,NaN,3,3,3,3,1
top,NaN,NaN,Caso Confirmado,Masculino,NaN,30 a 39 anos,NaN,Não Informado,RECUPERADO,NÃO,NÃO,25/06/2020
freq,NaN,NaN,500,291,NaN,139,NaN,338,479,299,365,500
mean,252.130000,296546.500000,NaN,NaN,45.936000,NaN,312459.64503,NaN,NaN,NaN,NaN,NaN
std,146.508945,144.481833,NaN,NaN,16.634582,NaN,2327.08741,NaN,NaN,NaN,NaN,NaN
min,1.000000,296297.000000,NaN,NaN,0.000000,NaN,310160.00000,NaN,NaN,NaN,NaN,NaN
25%,125.750000,296421.750000,NaN,NaN,34.000000,NaN,310620.00000,NaN,NaN,NaN,NaN,NaN
50%,250.500000,296546.500000,NaN,NaN,42.000000,NaN,310620.00000,NaN,NaN,NaN,NaN,NaN
75%,380.250000,296671.250000,NaN,NaN,58.000000,NaN,314480.00000,NaN,NaN,NaN,NaN,NaN
max,507.000000,296796.000000,NaN,NaN,94.000000,NaN,317100.00000,NaN,NaN,NaN,NaN,NaN

 # criar dammy para os atributos

In [10]:
# facilmente se percebe q o algoritmo não trabalha com atributos categóricos
sexoDummy = pd.get_dummies(dados["SEXO"], prefix="SEXO")
evolucaoDummy= pd.get_dummies(dados["EVOLUCAO"], prefix="EVOLUCAO")
comorbilidadeDummy= pd.get_dummies(dados["COMORBIDADE"], prefix="COMORBIDADE")
internacaoDummy= pd.get_dummies(dados["INTERNACAO"], prefix="INTERNACAO")
utiDummy= pd.get_dummies(dados["UTI"], prefix="UTI")
# adicionar as novas colunas aos dados
dados=pd.concat([dados,sexoDummy,evolucaoDummy,comorbilidadeDummy,internacaoDummy,utiDummy], axis=1)
dados

,ID,CONTADOR,DATA_NOTIFICACAO,CLASSIFICACAO_CASO,SEXO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,MUNICIPIO_RESIDENCIA,COMORBIDADE,...,EVOLUCAO_RECUPERADO,COMORBIDADE_NÃO,COMORBIDADE_Não Informado,COMORBIDADE_SIM,INTERNACAO_NÃO,INTERNACAO_NÃO INFORMADO,INTERNACAO_SIM,UTI_NÃO,UTI_NÃO INFORMADO,UTI_SIM
1,1,296297,04/03/2020,Caso Confirmado,Feminino,38,30 a 39 anos,313130.0,IPATINGA,Não Informado,...,1,0,1,0,1,0,0,1,0,0
2,2,296298,07/03/2020,Caso Confirmado,Feminino,47,40 a 49 anos,312230.0,DIVINÓPOLIS,Não Informado,...,1,0,1,0,1,0,0,1,0,0
3,3,296299,14/03/2020,Caso Confirmado,Masculino,65,60 a 69 anos,313670.0,JUIZ DE FORA,SIM,...,1,0,0,1,0,0,1,0,0,1
4,4,296300,14/03/2020,Caso Confirmado,Feminino,37,30 a 39 anos,314810.0,PATROCÍNIO,Não Informado,...,1,0,1,0,1,0,0,1,0,0
5,5,296301,16/03/2020,Caso Confirmado,Masculino,45,40 a 49 anos,310620.0,BELO HORIZONTE,Não Informado,...,1,0,1,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,503,296792,05/04/2020,Caso Confirmado,Feminino,64,60 a 69 anos,310620.0,BELO HORIZONTE,SIM,...,1,0,0,1,0,0,1,1,0,0
497,504,296793,13/04/2020,Caso Confirmado,Masculino,78,70 a 79 anos,315150.0,PIUMHI,SIM,...,0,0,0,1,0,0,1,0,0,1
498,505,296794,05/04/2020,Caso Confirmado,Feminino,67,60 a 69 anos,313670.0,JUIZ DE FORA,SIM,...,1,0,0,1,0,0,1,1,0,0
499,506,296795,05/04/2020,Caso Confirmado,Masculino,36,30 a 39 anos,314800.0,PATOS DE MINAS,NÃO,...,1,1,0,0,0,0,1,1,0,0
500,507,296796,05/04/2020,Caso Confirmado,Masculino,82,80 a 89 anos,316557.0,SENADOR AMARAL,SIM,...,1,0,0,1,0,0,1,1,0,0

<p>Criou-se dummys para os atributos com a respostas do tipo sim/não, para o sexo e para as perguntas com a resposta do tipo Recuperado/obito  </p>

# Eliminar os atributos após criar os dummys

In [14]:
dadoSem = dados.drop(columns=["DATA_NOTIFICACAO","MUNICIPIO_RESIDENCIA","SEXO","EVOLUCAO","COMORBIDADE","INTERNACAO","UTI","DATA_ATUALIZACAO"])
dadoSem.describe(include='all')

,ID,CONTADOR,CLASSIFICACAO_CASO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,SEXO_Feminino,SEXO_Masculino,EVOLUCAO_EM ACOMPANHAMENTO,EVOLUCAO_OBITO,EVOLUCAO_RECUPERADO,COMORBIDADE_NÃO,COMORBIDADE_Não Informado,COMORBIDADE_SIM,INTERNACAO_NÃO,INTERNACAO_NÃO INFORMADO,INTERNACAO_SIM,UTI_NÃO,UTI_NÃO INFORMADO,UTI_SIM
count,500.000000,500.000000,500,500.000000,500,493.00000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000,500.000000
unique,NaN,NaN,1,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Caso Confirmado,NaN,30 a 39 anos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,500,NaN,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,252.130000,296546.500000,NaN,45.936000,NaN,312459.64503,0.418000,0.582000,0.002000,0.040000,0.95800,0.058000,0.676000,0.266000,0.598000,0.15200,0.250000,0.730000,0.16200,0.108000
std,146.508945,144.481833,NaN,16.634582,NaN,2327.08741,0.493724,0.493724,0.044721,0.196155,0.20079,0.233978,0.468469,0.442307,0.490793,0.35938,0.433446,0.444404,0.36882,0.310691
min,1.000000,296297.000000,NaN,0.000000,NaN,310160.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000
25%,125.750000,296421.750000,NaN,34.000000,NaN,310620.00000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000
50%,250.500000,296546.500000,NaN,42.000000,NaN,310620.00000,0.000000,1.000000,0.000000,0.000000,1.00000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,0.00000,0.000000
75%,380.250000,296671.250000,NaN,58.000000,NaN,314480.00000,1.000000,1.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.000000,1.000000,0.00000,0.250000,1.000000,0.00000,0.000000
max,507.000000,296796.000000,NaN,94.000000,NaN,317100.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000

In [26]:

dadoSem[["CLASSIFICACAO_CASO"]]=dados[["CLASSIFICACAO_CASO"]].replace("Caso Confirmado",'NaN').astype(float)
dadoSem.isna().sum()
dadoSem[["FAIXA_ETARIA"]]=dados[["FAIXA_ETARIA"]].replace("30 a 39 anos",'NaN')
dadoSem.isna().sum()

ID                              0
CONTADOR                        0
CLASSIFICACAO_CASO            500
IDADE                           0
FAIXA_ETARIA                    0
MUNICIPIO_RESIDENCIA_COD        7
SEXO_Feminino                   0
SEXO_Masculino                  0
EVOLUCAO_EM ACOMPANHAMENTO      0
EVOLUCAO_OBITO                  0
EVOLUCAO_RECUPERADO             0
COMORBIDADE_NÃO                 0
COMORBIDADE_Não Informado       0
COMORBIDADE_SIM                 0
INTERNACAO_NÃO                  0
INTERNACAO_NÃO INFORMADO        0
INTERNACAO_SIM                  0
UTI_NÃO                         0
UTI_NÃO INFORMADO               0
UTI_SIM                         0
dtype: int64

In [27]:
dadoSem.describe(include='all')

,ID,CONTADOR,CLASSIFICACAO_CASO,IDADE,FAIXA_ETARIA,MUNICIPIO_RESIDENCIA_COD,SEXO_Feminino,SEXO_Masculino,EVOLUCAO_EM ACOMPANHAMENTO,EVOLUCAO_OBITO,EVOLUCAO_RECUPERADO,COMORBIDADE_NÃO,COMORBIDADE_Não Informado,COMORBIDADE_SIM,INTERNACAO_NÃO,INTERNACAO_NÃO INFORMADO,INTERNACAO_SIM,UTI_NÃO,UTI_NÃO INFORMADO,UTI_SIM
count,500.000000,500.000000,0.0,500.000000,500,493.00000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000,500.000000
unique,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,252.130000,296546.500000,NaN,45.936000,NaN,312459.64503,0.418000,0.582000,0.002000,0.040000,0.95800,0.058000,0.676000,0.266000,0.598000,0.15200,0.250000,0.730000,0.16200,0.108000
std,146.508945,144.481833,NaN,16.634582,NaN,2327.08741,0.493724,0.493724,0.044721,0.196155,0.20079,0.233978,0.468469,0.442307,0.490793,0.35938,0.433446,0.444404,0.36882,0.310691
min,1.000000,296297.000000,NaN,0.000000,NaN,310160.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000
25%,125.750000,296421.750000,NaN,34.000000,NaN,310620.00000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000
50%,250.500000,296546.500000,NaN,42.000000,NaN,310620.00000,0.000000,1.000000,0.000000,0.000000,1.00000,0.000000,1.000000,0.000000,1.000000,0.00000,0.000000,1.000000,0.00000,0.000000
75%,380.250000,296671.250000,NaN,58.000000,NaN,314480.00000,1.000000,1.000000,0.000000,0.000000,1.00000,0.000000,1.000000,1.000000,1.000000,0.00000,0.250000,1.000000,0.00000,0.000000
max,507.000000,296796.000000,NaN,94.000000,NaN,317100.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,1.000000

In [ ]:
# é necessário eliminar os NaN que não são aceites pelo procedimento de divisão de amostras
VIs = dadoSem.drop(columns=['Team Value','Total Revenue','Operating income'])
from sklearn.model_selection import train_test_split
VItreino, VIteste, VDtreino, VDteste = train_test_split(VIs, VD, test_size=0.4, random_state=1, shuffle=True, stratify=dados["Playoff Run"])
VDteste.value_counts()